<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksg.openapi.mapper.UserMapper">

	<resultMap type="UserVO" id="userMap">
		<id column="no" property="no"/>
		<result column="name" property="name"/>
		<result column="sex" property="sex" typeHandler="com.ksg.openapi.handler.CodeEnumHandler"/>
		<result column="regDt" property="regDt"/>
		<result column="hobby" property="hobby" typeHandler="com.ksg.openapi.handler.CodeEnumHandler"/>
	</resultMap>

    <select id="query" parameterType="SampleRequestDTO" resultMap="userMap">
		select u.no
				,u.name
		        ,u.sex
		        ,u.phone
		        ,h.no as hobby
		        ,u.reg_dt as regDt
		from tb_user u
        inner join tb_user_hobby uh on uh.user_no = u.no
        inner join tb_hobby h on h.no = uh.hobby_no
        where u.sex = #{sex, typeHandler=com.ksg.openapi.handler.CodeEnumHandler}
          and uh.no in  <foreach collection="hobbys" item="hobby"  open="(" close=")" separator=",">#{hobby, typeHandler=com.ksg.openapi.handler.CodeEnumHandler}</foreach>
	</select>

</mapper>