<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksg.openapi.repository.mapper.UserMapper">

	<resultMap id="userMap" type="User">
		<id column="no" property="no"/>
		<result column="name" property="name"/>
		<result column="sex" property="sex" typeHandler="EnumCodeTypeHandler"/>
		<result column="regDt" property="regDt"/>
		<result column="hobby" property="hobby" typeHandler="EnumCodeTypeHandler" />
	</resultMap>

    <select id="query" parameterType="UserListRequestDTO" resultMap="userMap">
		select u.no
				,u.name
		        ,u.sex
		        ,u.reg_dt as regDt
		        ,uh.no as hobby
		from tb_user u
        inner join tb_user_hobby uh on uh.user_no = u.no
        inner join tb_hobby h on h.no = uh.hobby_no
        where u.sex = #{sex, typeHandler=EnumCodeTypeHandler}
          and uh.no in  <foreach collection="hobbies" item="hobby"  open="(" close=")" separator=",">#{hobby, typeHandler=EnumCodeTypeHandler}</foreach>
	</select>

</mapper>