<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksg.openapi.mapper.UserMapper">

    <select id="query" parameterType="SampleRequestDTO" resultType="ResultVO">
		select u.no
				, u.name
		        ,u.sex
		        ,u.phone
		        ,h.name as hobby
		        ,u.reg_dt as regDt
		from tb_user u
        inner join tb_user_hobby uh on uh.user_no = u.no
        inner join tb_hobby h on h.no = uh.hobby_no;
	</select>

</mapper>